<div class="border p-2 mb-2 d-flex justify-content-end"
     *ngIf="!editMode else editTask">
  <!-- task -->
  <div [class.done]="todoItem?.done">
    <h4>{{todoItem?.title}}</h4>
    <p>{{todoItem?.description}}</p>
  </div>
  <!-- status -->
  <div class="d-flex flex-column align-items-center ml-auto">
    <span class="mb-2"> Done:</span>
    <input type="checkbox" class="checkbox-big-size" (click)="taskDone()">
  </div>
  <!-- btn -->
  <button class="btn btn-info ml-4"
          (click)="editMode = true"
          [disabled]="todoItem?.done">Edit
  </button>
  <button class="btn btn-danger ml-2" (click)="deleteTask()">Delete</button>
</div>
<!-- edit mode -->
<ng-template #editTask>
  <div class="border p-2 mb-2 d-flex ">
    <div class="d-flex flex-column w-50">
      <input class="mb-2 form-control"
             type="text"
             [(ngModel)]="editedTitle"
             [value]="todoItem?.title"
             (input)="canSaveChanges()">
      <input class="form-control"
             type="text"
             [(ngModel)]="editedDescription"
             [value]="todoItem?.description"
             (input)="canSaveChanges()">
    </div>
    <button class="btn btn-info ml-3"
            (click)="saveChanges()"
            [disabled]="!CanSave">Save
    </button>
  </div>
</ng-template>
